{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block title %}
        <title>Home</title>
    {% endblock title %}
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/global.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/jquery.dataTables.css' %}"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round"/>
    {% endblock css %}
</head>
{% include 'nav.html' %}
{% block header %}
{% endblock header %}
<body>
{% block content %}
{% endblock content %}
{% block js %}
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>
    <script src="{% static 'js/server.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
{% endblock js %}
</body>
</html>
